body {
font-family: 'Roboto', sans-serif;
}


@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-left {
  animation: scroll-left 60s linear infinite;
}

#scroll-wrapper:hover #scroll-content {
  animation-play-state: paused;
}



  