body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.sentiment-filter.bg-\[\#00E083\]:hover {
  background-color: #00E083 !important;
}

.token-btn.active-token:hover {
  background-color: #00E083 !important;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  animation: scroll-left 15s linear infinite;
  display: flex;
  width: max-content;
}

@media (max-width: 1020px) {
  .animate-scroll-left {
    animation-duration: 10s; /* Faster on small screens */
  }
}

#scroll-wrapper:hover #scroll-content {
  animation-play-state: paused;
}


  